# Python environment
.env/
.venv/
notebooks/.venv/
notebooks/.env/
notebooks/
dist/
scripts/
site/
# export datatypes
# all csv
*.csv
# all json
*.json
# all xml
*.xml
#all db files
*.db
# Jupyter Notebook checkpoints
.ipynb_checkpoints
