# Python environment
.env/
.venv/
.github/
.*
notebooks/.venv/
notebooks/.env/
notebooks/
dist/
scripts/
sites/
docs/
# export datatypes
# all csv
*.csv
# all json
*.json
# all xml
*.xml
#all db files
*.db
# Jupyter Notebook checkpoints
.ipynb_checkpoints
